@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: white;
}

h2 {
  font-family: "Caprasimo", cursive;
}

img {
  height: 150px;
}

.color {
  color: #f61e00;
}

a {
  text-decoration: none;
}

.active {
  background-color: red;
  color: white;
  border-radius: 30%;
  padding: 10px;
  text-decoration: none;
}

nav {
  position: fixed;
}
